.header {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    // background-color: $primaryColor;
    // color: $secondaryColor;
    &__left {
        width: 50%;
        margin-left: 90px;
        &--head {
            font-size: 36px;
            font-family: "PT Serif", serif;
            font-weight: 700;
            letter-spacing: -0.045em;
        }
    }
    &__right {
        width: 50%;
        font-family: Poppins, sans-serif;
        line-height: 27px;
        margin-right: 90px;
        &--head {
            font-weight: 600;
            text-transform: uppercase;
        }
        &--para {
            font-size: 14px;
            font-weight: 400;
            text-align: justify;
        }
    }
}