.main {
    margin: 50px auto 50px;
    padding: 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    &__container {
        max-width: 90%;
        display: flex;
        flex-direction: column;
        &--imgs {
            width: 350px;
            height: auto;
            // display: block;
            margin-right: 20px;
            border-radius: 5px;
        }
        &--box {
            display: flex;
            margin: 20px;
            width: fit-content;
            justify-content: flex-start;
        }
        &--title {
            writing-mode: vertical-lr;
            font-size: 10px;
            line-height: 13px;
            text-transform: uppercase;
            font-weight: 100;
        }
        &--title {
            font-family: 'PT Serif', serif;
            font-weight: 100;
            font-size: 12px;
            line-height: 16px;
            font-style: normal;
            text-transform: uppercase;
        }
        &--names {
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            text-align: left;
            margin: 0 20px;
        }
    }
}

.top__marg {
    margin-top: 100px;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}