@import "normalize";
@import "globals";
@import "body";
@import "navbar";
@import "footer";
@import "responsive";
html,
body {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    &__left {
        width: 50%;
        &--para {
            font-size: 36px;
            font-family: "PT Serif", serif;
            font-weight: 700;
            line-height: 48px;
            color: #000;
        }
    }
    &__right {
        width: 50%;
        &--para {
            font-family: Poppins, sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            color: #000;
        }
        &--para right__para1 {
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}

.main {
    margin: 50px auto 50px;
    padding: 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    &__container {
        display: flex;
        flex-direction: column;
        &--imgs {
            width: 250px;
            height: auto;
            margin-right: 20px;
            border-radius: 5px;
        }
        &--box {
            display: flex;
            margin: 20px;
            justify-content: flex-start;
        }
        &--title {
            writing-mode: vertical-lr;
        }
        &--title {
            font-family: 'PT Serif', serif;
            font-weight: lighter;
            font-size: 12px;
            line-height: 16px;
            font-style: normal;
            text-transform: uppercase;
        }
        &--names {
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            text-align: left;
            margin: 0 20px;
        }
    }
}

.top__marg {
    margin-top: 100px;
}