.header {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.header__left {
  width: 50%;
  margin-left: 90px;
  color: #000;
}
.header__left--head {
  font-size: 36px;
  font-family: "PT Serif", serif;
  font-weight: 700;
  letter-spacing: -0.045em;
}
.header__right {
  width: 50%;
  font-family: Poppins, sans-serif;
  line-height: 27px;
  margin-right: 90px;
  color: #000;
}
.header__right--head {
  font-weight: 600;
  text-transform: uppercase;
}
.header__right--para {
  font-size: 14px;
  font-weight: 400;
  text-align: justify;
}