html,
body {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.header__left {
  width: 50%;
}
.header__left--para {
  font-size: 36px;
  font-family: "PT Serif", serif;
  font-weight: 700;
  line-height: 48px;
  color: #000;
}
.header__right {
  width: 50%;
}
.header__right--para {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #000;
}
.header__right--para right__para1 {
  font-weight: 600;
  text-transform: uppercase;
}

.main {
  margin: 50px auto 50px;
  padding: 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.main__container {
  display: flex;
  flex-direction: column;
}
.main__container--imgs {
  width: 250px;
  height: auto;
  margin-right: 20px;
  border-radius: 5px;
}
.main__container--box {
  display: flex;
  margin: 20px;
  justify-content: flex-start;
}
.main__container--title {
  writing-mode: vertical-lr;
}
.main__container--title {
  font-family: "PT Serif", serif;
  font-weight: lighter;
  font-size: 12px;
  line-height: 16px;
  font-style: normal;
  text-transform: uppercase;
}
.main__container--names {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: left;
  margin: 0 20px;
}

.top__marg {
  margin-top: 100px;
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */